##### Install Google API libraries
- Google module(Create_Service) is not a standard python package and relies in the following packages for authentification and API intergration
- google-api-python-client 
- google-auth-oauthlib 
- google-auth-httplib2

In [ ]:
pip install --upgrade google-api-python-client google-auth-oauthlib google-auth-httplib2

##### Obtain or Create the Google.py File
- It is a file containing the Create_Service function that we will call later to connect to API
- Save it in the same directory as your main python file

##### Setup OAuth Credentials
- To use Google sheets API, you must create n account in Google Cloud Platform, create  project, enable desired API and create OAuth 2.0 Client ID.
- OAuth 2.0 Client ID contains a client_secret.json file which we use to create the service

##### Import modules

In [20]:
from Google import Create_Service
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Define API credentials
# Note: Scope is used to allow different levels of authorization to read, write or delete
CLIENT_SECRET_FILE = 'client secret.json'
API_SERVICE_NAME = 'sheets'
API_VERSION = 'v4'
SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

In [3]:
# Create service
service = Create_Service(CLIENT_SECRET_FILE, API_SERVICE_NAME, API_VERSION, SCOPES)

client secret.json-sheets-v4-(['https://www.googleapis.com/auth/spreadsheets'],)
['https://www.googleapis.com/auth/spreadsheets']
Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=712158550652-bivehglec7ckvethqrmpn8vh7mh4i54b.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fspreadsheets&state=dpll5vfvuh0Y4R38kjDXV8T5lz1Ume&access_type=offline
sheets service created successfully

##### Extraction

In [12]:

response = service.spreadsheets().values().get(
    spreadsheetId='1JJGl-CuBNwDO6J0xkbY1XHKOPtvY7BjnlUKGiTJWnDs',
    majorDimension = 'ROWS',
    range = 'Sales'
).execute()

In [27]:
response
response.keys()
type(response)

dict

##### Transformation

In [ ]:
sales_data = response['values']
sales_data

In [17]:
type(sales_data)

list

In [28]:
df = pd.DataFrame(sales_data[1:], columns=sales_data[0])
df.head()

  order_id        date shoe_type size  color price cost quantity
0        1  2025-01-02  Sneakers    9  Black    80   48        2
1        2  2025-01-03     Boots    8  Brown   120   72        1
2        3  2025-01-04   Sandals    7  White    60   36        3
3        4  2025-01-05   Loafers   10   Blue   100   60        1
4        5  2025-01-06  Sneakers   11  Black    90   54        2

##### Loading

##### Syntax to create an engine
postgresql://user:password@host:port/database

In [ ]:
engine = create_engine('postgresql://avnadmin:password@wambwa-wambwahilary-dfb2.f.aivencloud.com:20075/wambwa')

##### Syntax to Load to postgresql
df.to_sql('table name', engine, if_exists='replace', index=False, schema='name of schema')

In [30]:
df.to_sql('shoe_sales', engine, if_exists='replace', index=False, schema='gwanda_fisa')

100